@model PortfolioProject.Models.Skills
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Skill Hinzufügen</h2>

<section id="container">
    <section id="main-content">
        <section class="wrapper">

            @using (Html.BeginForm("AddSkill", "Skills", FormMethod.Post))
            {
                @Html.Label("Skill")
                @Html.TextBoxFor(s=>s.Skill, new { @class = "form-control", @type = "text" })
                @Html.Label("Parameter")
                @Html.TextBoxFor(s=>s.SkillParameter, new { @class = "form-control", @type = "text" })
                                <br />
                <button type="submit" class="btn btn-primary">Hinzufügen</button>

            }
        </section>
    </section>
</section>

